@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
  text-decoration: none;
}
html {
  background-color: rgb(211, 206, 206);
}

.logo {
  margin-right: 30px;
}
/* first dropdown */
#myDrop {
  visibility: hidden;
  width: 140px;
  height: 145px;
  padding: 7px;
  background-color: rgb(249, 251, 251);
  margin: 10px 0 0 -50px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 0.8rem;
  box-shadow: 2px 3px 2px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
}
#myDrop a {
  margin: 5px;
  display: block;
  color: gray;
}
#myDrop a:hover {
  color: black;
}
#buttonDrop {
  background-color: rgb(211, 206, 206);
  border: none;
  cursor: pointer;
}

.dropContent a img {
  margin: 5px 7px 0 0;
}
/* second dropdown */

#dropMy {
  visibility: hidden;
  background-color: rgb(255, 255, 255);
  padding: 7px;
  height: 90px;
  width: 95px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 0.8rem;
  box-shadow: 2px 3px 2px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
}
#dropMy a {
  margin: 10px;
  display: block;
  color: gray;
}

#dropMy a:hover {
  color: black;
}
#dropButton {
  border: none;
  cursor: pointer;
  margin-bottom: 15px;
  background-color: rgb(211, 206, 206);
}
.secondDrop,
.firstDrop {
  width: 80px;
}
/* other drops */

.defaultBtn {
  background-color: rgb(211, 206, 206);
  border: none;
  cursor: pointer;
  margin: 0 10px;
}

.defaultBtn,
#dropButton,
#buttonDrop {
  color: hsl(0, 0%, 51%);
  font-weight: 600;
}
#dropButton:hover,
.defaultBtn:hover,
#buttonDrop:hover {
  color: black;
}
#login {
  position: absolute;
  right: 20px;
}

.register {
  border: 2px solid hsl(0, 0%, 51%);
  background-color: rgb(211, 206, 206);
  color: hsl(0, 0%, 51%);
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  margin: 0 0 0 20px;
}
.register:hover {
  border-color: black;
  color: black;
}
/* all styles */

#navbar {
  margin: 30px;
  display: flex;
  height: 80px;
}

/* main */

#main {
  display: flex;
  justify-content: center;
  align-items: start;
}
#main .contents #title {
  font-size: 5rem;
}
#main .contents {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: space-evenly;
  height: 650px;
}
#main .contents .text {
  color: gray;
  font-weight: 600;
  width: 400px;
}

.imageRight img {
  width: 450px;
  margin-left: 100px;
}
#learn {
  padding: 15px 30px;
  background-color: black;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid black;
  width: 200px;
}

#learn:hover {
  background-color: rgb(211, 206, 206);
  color: black;
  padding: 15px 30px;
}

.clients a {
  margin: 15px;
}
.mainMenu {
  display: flex;
  justify-content: space-around;
  width: 450px;
}

.imgMenu {
  display: none;
}
.imageTop {
  display: none;
}
@media (max-width: 475px) {
  .imgMenu {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 20px;
  }
  #navbar {
    display: none;
  }
  #main {
    display: flex;
    flex-direction: column;
  }
  .imageRight {
    display: none;
  }
  .imageTop {
    display: block;
  }
  .imageTop img {
    width: 100%;
    margin-top: 10px;
  }
  #main .contents #title {
    font-size: 2.5rem;
    text-align: center;
  }
  .br {
    display: none;
  }
  #main .contents {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 42vh;
    width: 100%;
    text-align: center;
    line-height: 25px;
    margin-top: 30px;
  }
  #main .contents div {
    margin: 30px 0;
  }
  .clients a img{
    width: 70px;
  }
  #main .contents .clients {
    margin: 0px;
  }
}
